/* @import "fonts.css";
@import "reset.css"; */

:root {
  --general-text: #ffffff;
  --general-bg: #141414;
  --transition: all .4s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.body {
  font-family: "ReformaGroteskBoldC", "ReformaGroteskMediumC", "ReformaGroteskDemiC", sans-serif;
  color: var(--general-text);
  background: var(--general-bg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 15px;
  height: 100%;
  
}

/* =============== */



.header {
  background: url("../img/content/header.png");
}

.header__top {
  padding-top: 40px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}

.header__burger {
  position: relative;
  max-width: 50px;
  z-index: 11;
  order: 1;
}

.header__burger img {
  width: 100%;
}

.nav {
  
}

.nav__list {
  display: flex;
  gap: 40px;
  font-family: 'ReformaGroteskMediumC';
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 1px;
  
}

.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding-top: 140px;
}

/* ======================================= */

.hero__title {
  font-family: 'ReformaGroteskBoldC';
  color: #db3138;
  font-size: 150px;
  line-height: 125%;
  max-width: 483px;
}

.hero-rhombus {
  position: relative;
  padding-top: 15px;
  padding-bottom: 40px;
}

.hero__text {
  font-family: 'ReformaGroteskMediumC';
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  padding-bottom: 40px;
}

.hero__button {
  font-family: 'ReformaGroteskDemiC';
  font-size: 24px;
  letter-spacing: 5%;
  text-transform: uppercase;
}

.red-rectangle {
  position: relative;
  margin-left: -150px;
  margin-top: -17px;
}